a {
  text-decoration: none;
}

.title {
  color: black;
}
/* 
.nav-link {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}
.nav-link:hover {
  color: #2196f3; }*/

.link {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}
.link:hover {
  color: #2196f3;
}

/* a[href="mailto:info@devstudio.com"] {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}
a[href="mailto:info@devstudio.com"].hover {
  color: #2196f3;
}
a[href="tel:+48111111111"] {
  font-size: 14px;
  text-decoration: none;
  color: black;
} */

a.mail {
  font-size: 14;
  font-weight: 500;
  text-decoration: none;
  color: black;
}
a[href="mailto:info@devstudio.com"]:hover {
  color: #2196f3;
}
a.telephone {
  font-size: 14;
  font-weight: 500;
  text-decoration: none;
  color: black;
}
a[href="tel:+48111111111"]:hover {
  color: #2196f3;
}
.webstudio {
  background-color: #ffffff;
  width: 1600px;
  height: 80px;
}

.h1 {
  color: white;
}
.rozwiazania {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
}

.schedule-head.zespol {
  background-color: #f5f4fa;
  width: 1600px;
  height: 648px;
}
tr.schedule-body.john1 {
  background-color: #f5f4fa;
}
tr.schedule-foot.index {
  background-color: #ffffff;
}
table {
  border-collapse: collapse;
}

table tr,
table td {
  border: 1px #f5f4fa;
  padding: 1px;
}
img {
  margin-left: 50px;
  margin-top: 1px;
  border: 1px solid silver;
}

.schedule-head {
  background-color: lightgray;
}

.schedule-body {
  background-color: lightgray;
}

table {
  border-collapse: collapse;
}

table tr,
table td {
  padding: 10px;
  border: 0px solid#2121;
}

.img.portf {
  margin-right: 0px;
  margin-bottom: 0px;
  border: 1px solid silver;
}
